#sample-para {
  font-family:Roboto Mono,monospace!important;
  color:green;
  font-weight: bolder;
}
#set-color {
  height: 100vh;
  width:100vw;
  background-color: #232323;
  background-color: #232323;
  color: white;
  font-family: "Courier";
  background-image: url(giphy.gif);
  background-repeat: repeat;
  background-attachment: fixed;
}
