#heading {
  color:pink;
}

#set-color {
  animation:glitch;
  height: 100vh;
  width:100vw;
  background-color: #232323;
  font-family: "Courier";
  font-weight: bolder;
  background-repeat: repeat;
  background-attachment: fixed;
}

.list li{
  color:green;
}
